.App {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(http://sajhs.nebo.edu/sites/sajhs.nebo.edu/files/Spartan_bg.jpg);
  background-size: cover;
}

.body {
  min-height: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.body > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: calc(40% - 70px)
}

.body > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box {
  margin: 50px;
  background-color: #fffcf2;
  border: #222;
  border-radius: 2px;
}


